<li class="cf" data-username="{{message.name}}" id="{{message.created_at}}">
  <img src="/assets/avatars/av{{message.avatar_id}}.png" class="avatar-small fL">
  <div class="messageText">
    <em>{{message.name}} <span class="message-time fR" data-time={{message.created_at}}>{{ message.time}}</span></em>
    {{messageText message.text}}
  </div>
</li>
