<!DOCTYPE html>
<html>
<head>
  <title data-roomId="<%= params[:id] %>"><%= params[:id] %> on GhostPost.io</title>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38990344-1']);
    _gaq.push(['_setDomainName', 'ghostpost.io']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- Twitter Button -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></script>
  <!-- Facebook Send -->
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=173530556129463";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</head>
<body>
<div id="fb-root"></div>
<nav>
  <div id="twitter-share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-counturl="http://ghostpost.io/<%= params[:id] %>" data-text="Cracking up in ghostpost.io/<%= params[:id] %> #sxsw"></a>
  </div>
  <a href="/" class="logo"><img src="/assets/logo.png" id="logo"></a>
  <ul class="navright">
    <li>
      <a class="avatarButton" href="javascript://" onclick='GhostPost.resetAvatar(); false'>reset</a>
    </li>
    <li id="avatarNameSmall"></li>
    <li><img src="" id="avatarImageSmall"></li>
  </ul>
</nav>
<!--<div class = "button">
    <div class = "new-post"><a href = ""><img src = "images/plus.png"></a></div>
</div>-->
<div class="welcome">
  <strong>Welcome to the Real World</strong>
  <p>Ghostpost is shameless chat with random avatars.</p>
  <p>Use <a href="/hashtags">#hashtags</a> create new rooms, or <a href="/change_this_text">just edit the URL</a>!</p>
  <div class="details">
    <p>Our team met on March 3rd and  built this during
      <a href="http://americas.startupbus.com/2013/ghostpost-io-say-what-you-really-think/">a three day road trip</a>.  </p>
      <p>It's a very early product, but we're so excited that you're here. Welcome to our secret society!</p>
  </div>
  <button>Start Ghosting!</button>
</div>
<div class="main">

<%= yield %>

</div>
<div class="postbar">
  <input type='text' id='messageInput' placeholder='Speak your mind here...' autocomplete=off>
</div>
</body>
</html>
